<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/signin.css">
</head>
<body>
<table>
    <tr>
        <td><h2>로그인</h2></td>
    </tr>
    <tr>
        <td><input type="text" placeholder="ID"></td>
    </tr>
    <tr>
        <td><input type="password" placeholder=Password></td>
    </tr>
    <tr>
       <td><input type="checkbox"> 로그인 정보 저장</td>
    </tr>
   <tr>
        <td><input type="submit" value="Sign in" class="btn" onclick="alert('로그인 성공!')"></td>
    </tr>
    <tr>
        <td class="join"><a href="join.html">회원가입</a></td>
    </tr>
</table>
</body>
</html>